<div class="container-fluid">
    <div class="row">
    <div class="col-4">
        <h1>Sign In</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="POST">
            <div class="input-field">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="validate">
            </div>
            <div class="input-field">
                <label for="password">password</label>
                <input type="password" id="password" name="password" class="validate">
            </div>
            <!--<input type="hidden" name="_csrf" value="{{csrfToken}}">-->
            <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
    </div>
</div>
</div>
