<div id="particles-js">
    <div class="row" id="login">
    <div class="col-12">
        <h1 style="color:Yellow;font-size: 6vh;">Sign In</h1>
        {{# if hasErrors}}
            <div class="alert alert-danger">
                {{# each messages}}
                    <p>{{this}}</p>
                {{/each}}
            </div>
        {{/if}}
        <form action="/user/signin" method="POST">
            <div class="input-field">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" class="validate" required="true">
            </div>
            <div class="input-field">
                <label for="password">password</label>
                <input type="password" id="password" name="password" class="validate" required="true">
            </div>
            <div class="form-actions">
                <button type="submit" class="btn">Sign In</button>
                <hr>
            </div>  
            <p class="form-actions">Or Connect with:</p>    
            <br>
            <main class="form-actions">
                <a class="google-btn" href="/auth/google">Google+</a>
            </main>
        </form>
    </div>
    <div class="col-12">
        <br>
        <a href="/user/signup" style="color:springgreen ;font-size: 3vh;">New??...Create one!</a>
    </div>
</div>
</div>
