
.thumbnail img{
  max-height: 200px;
}

.thumbnail .description{
  color : #a11a08; 
  font-family: Sofia;
}
.price{
  font-weight: bold;
  font-size: 16px;
}
.pos{
  text-align: center;
  padding: 2vh;
  margin: 0.2vh;
}
.hotel_name{
  font-family: Lobster;
  font-weight: 400;
  color: blueviolet;  
}
.thumbnail .btn{
  font-family: Oleo Script;
}
#signup{
  text-align: center;
}