
<div class="main_wrapper">
	<div class="pimg1">
        <div class="ptext">
            <span class="border">
                RIUGA
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2 style="color:darkgoldenrod">Who are we?</h2>
        <p>
            A multihotel booking website where you can search for hotels as per your convenient budget, and location , ask for any queries to the hotel manager itself , get reviews from many of our many guests who have had a first hand experience of lifestyle at the hotels and resorts, add hotels to your wishlist to explore them when you can afford them :P all from one place! 
        </p>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                <a href="/hotels/page/1">BROWSE OUR HOTELS</a>
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>                Travelling is good...but we all need to spend the night at a room....So, Book your stay!
</h2>
        <p>
           A perfect guide which comes handy when you are exploring the world!
        </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Bitten By the travel Bug?
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>@@@ Developer's Section @@@</h2>
        <p>
            A lot more features to be added! If you are seeing this, you are developer for sure. So, come and contibute to our project! 
        </p>
    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                RIUGA
            </span>
        </div>
    </div>


</div>

