
<div class="main_wrapper">
	<div class="pimg1">
        <div class="ptext">
            <span class="border">
                RIUGA
            </span>
        </div>
    </div>

    <section class="section section-light">
        <h2>Section One</h2>
        <p>
            I, being a student from a small town in India where there are no access to tuition, look up to organisations like Coursera to help us out of the quagmire. My father runs a small business and my mom is a homemaker. I am her only daughter and it's the dream of my mother to see me make it big in life. However, we can barely eke out a living. I did my 11-12 with 100% scholarship at a private institution where I got trained to crack the entrance exams and now I am in an institution of national importance(NIT, Silchar) in India, pursuing my B.Tech degree in Computer Science. The entire family income gets spent on bearing the academic fees of my college. The financial condition of my family is not sound enough to pay the course fee, so, I am applying for the aid with the hope of receiving it! A billion thanks in advance!


    I am a Computer Science undergrad student pursuing my B.Tech degree at National Institute of Technology, Silchar, India. I see myself as a software programmer and developer in the ensuing years. This has been my ambition ever since I got senses. And, Coursera is providing courses which helps young developers like me to achieve the knowledge much needed to get going in this technical-oriented world! Keeping the certificates received on completing the course aside, the assignment review is what I am after! If I don't  get grades for my assignments, how will I know, what my progress is. The certificates which I will get to flaunt in my resume are an icing on the cake! Coursera is doing a fab job in promoting technical education to remote areas. Truly, not a part of the world is left untouched by your efforts! Kudos Coursera! Long Live Coursera - Changing lives for the better!

        </p>
    </section>

    <div class="pimg2">
        <div class="ptext">
            <span class="border">
                <a href="/hotels">BROWSE OUR HOTELS</a>
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Section Two</h2>
        <p>
            I, being a student from a small town in India where there are no access to tuition, look up to organisations like Coursera to help us out of the quagmire. My father runs a small business and my mom is a homemaker. I am her only daughter and it's the dream of my mother to see me make it big in life. However, we can barely eke out a living. I did my 11-12 with 100% scholarship at a private institution where I got trained to crack the entrance exams and now I am in an institution of national importance(NIT, Silchar) in India, pursuing my B.Tech degree in Computer Science. The entire family income gets spent on bearing the academic fees of my college. The financial condition of my family is not sound enough to pay the course fee, so, I am applying for the aid with the hope of receiving it! A billion thanks in advance!


    I am a Computer Science undergrad student pursuing my B.Tech degree at National Institute of Technology, Silchar, India. I see myself as a software programmer and developer in the ensuing years. This has been my ambition ever since I got senses. And, Coursera is providing courses which helps young developers like me to achieve the knowledge much needed to get going in this technical-oriented world! Keeping the certificates received on completing the course aside, the assignment review is what I am after! If I don't  get grades for my assignments, how will I know, what my progress is. The certificates which I will get to flaunt in my resume are an icing on the cake! Coursera is doing a fab job in promoting technical education to remote areas. Truly, not a part of the world is left untouched by your efforts! Kudos Coursera! Long Live Coursera - Changing lives for the better!

        </p>
    </section>

    <div class="pimg3">
        <div class="ptext">
            <span class="border">
                Image Three Text
            </span>
        </div>
    </div>

    <section class="section section-dark">
        <h2>Section Three</h2>
        <p>
            I, being a student from a small town in India where there are no access to tuition, look up to organisations like Coursera to help us out of the quagmire. My father runs a small business and my mom is a homemaker. I am her only daughter and it's the dream of my mother to see me make it big in life. However, we can barely eke out a living. I did my 11-12 with 100% scholarship at a private institution where I got trained to crack the entrance exams and now I am in an institution of national importance(NIT, Silchar) in India, pursuing my B.Tech degree in Computer Science. The entire family income gets spent on bearing the academic fees of my college. The financial condition of my family is not sound enough to pay the course fee, so, I am applying for the aid with the hope of receiving it! A billion thanks in advance!


    I am a Computer Science undergrad student pursuing my B.Tech degree at National Institute of Technology, Silchar, India. I see myself as a software programmer and developer in the ensuing years. This has been my ambition ever since I got senses. And, Coursera is providing courses which helps young developers like me to achieve the knowledge much needed to get going in this technical-oriented world! Keeping the certificates received on completing the course aside, the assignment review is what I am after! If I don't  get grades for my assignments, how will I know, what my progress is. The certificates which I will get to flaunt in my resume are an icing on the cake! Coursera is doing a fab job in promoting technical education to remote areas. Truly, not a part of the world is left untouched by your efforts! Kudos Coursera! Long Live Coursera - Changing lives for the better!

        </p>
    </section>

    <div class="pimg1">
        <div class="ptext">
            <span class="border">
                RIUGA
            </span>
        </div>
    </div>


</div>

